{% extends 'main.html' %}


{% block css %}
<style> 
    .profile-container{
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
</style>

{% endblock css %}


{% block content %}

<h1>{{user.username}}</h1>

<div class="profile-container">
    <div>
        {% include 'study/topics_component.html' %}
    </div>

    <div>
        {% include 'study/feed_component.html' %}
    </div>

    <div>
        {% include 'study/activity_component.html' %}
    </div>
</div>

{% endblock content %}


